[Unit]
Description=uWSGI instance to serve the Stock Tracker
After=network.target
[Service]
User=<username>
Group=www-data
WorkingDirectory=/home/<username>/POLRDashboard
Environment="PATH=/home/<username>/app/env/bin"
ExecStart=/home/<username>/app/env/bin/uwsgi --ini app.ini
[Install]
WantedBy=multi-user.target